*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    
    padding:12px;
    display: flex;
    justify-content: space-around;
    height:60px;  
}
a{
    color: black;
    text-decoration-line: none; 
    padding: 10px;  
}
.registerbutton{
    border: 1px solid ;
    height:25px;
    width: 70px;
    text-align: center;
    background-color: rgb(169, 166, 166);
}
.maincontact{
    height: 400px;
    background-color:rgb(244, 238, 238);
}
.contactbox{
    padding: 2%;
    display: flex;
    flex-wrap: w;
    justify-content: space-around;
}
#contactdetail{
    border: 2px solid white;
    padding: 2%;
}
#button{
    width:200px;
    height:30px;
    background-color: gray;
    color: white;
}
#name{
    width: 200px;
}
#email{
    width: 200px;
}
.bigimg{
    height:320px;
    width: 400px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(187, 184, 184);
    text-align: center;
    align-content: center;
    
}

#getintouch{
    margin-top:3%;            
    text-align: center;
    font-weight: bold;
    font-size: larger;  
}
.gettouch{
    display:flex;
    
    justify-content: space-around;
    padding: 2%;
}
.gettouch h6{
    font-size: small;
    padding-bottom: 5px;
    
}
#contant{
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(180, 178, 178);

}

.footer{
    background-color: rgb(244, 238, 238);
    margin-top: 3px;
    height: 350px;

}
.footercontent{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomlogo{
    padding-left: 10%;

}
.socialmedialogo{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
hr{
    height:2px;
    width:90%;
    border-width: 1px;
    margin-left: 5%;
    background-color:grey; 
    
}
.copyright{
display: flex;
justify-content: center;
padding: 1%;  
}
@media (max-width: 768px) {
    .nav {
        gap: 10px;
        font-size:15px;
        flex-direction: column;
        align-items: center;
        height:auto;
    }
    #contactdeatil{
        width: 40%;
    }
    .gettouch{
        margin:1%;
        flex-wrap: wrap;
        align-content: center;
    }
    .contactitem{
        margin:2%;
        padding: 5px;
        position: relative;
        left:30px;  
    }
    .footercontent {
        height: 340px;
        align-items: center;
    }
}