*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#para{
    margin: 7px;
}
.form{
    width:400px;
    
    position: relative;
    left:40px
    
}

.email{
    width:200px;
    margin: 5%;
}
.password{
    width:200px;
    margin: 5%;

}
#box1{
    width: 300px;
}
#box2{
    width: 300px;
}
.button{
    text-align: center;
    align-content: center;
    position: relative;
    left:110px;
    margin-top: 10%;
    height:25px;
    text-decoration-line: none; 
    color:rgb(255, 255, 255);
    width:100px;
    border: 1px solid gray;
    background-color: gray;

}
.button a{
    text-decoration-line: none;
    color: white;
}

@media (max-width: 600px) {
    
    .login{
        width: auto;
        
    } 
    .button {
        
        max-width:100%;
    }   
}